body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-section {
    background-image: url(images/donation8.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 650px;
    margin-top: -55px;
    margin-bottom: 80px;
}

.banner {
    background: rgba(32, 32, 32, 0.6);
    background-size: cover;
    position: relative;
    min-height: 650px;

}

.banner h1 {
    font-size: 66px;
    font-weight: 700;
    color: white;
    padding-top: 180px;
}

.banner p {
    font-size: 20px;
    color: white;
}

.link-button {
    text-decoration: none;
    background-color: rgb(250, 114, 90);
    color: white;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 5px;
}

.donate-today {
    margin: 100px;
    padding: 0 180px;
}

h2 {
    font-size: 40px;
}

.donate-today p {
    font-size: 16px;
    color: gray;
    line-height: 25px;
}

.flexible-container {
    display: flex;
    margin-bottom: 60px;
    padding-top: 60px;
}

.box {
    width: 20%;
    height: 110px;
    background-color: #FAFAFA;
    margin: 10px;
    padding: 5px 13px;
    border-radius: 5px;
}

.box h6 {
    font-size: 35px;
    color: #707070;
    margin: 0;
    padding-top: 32px;
    text-align: center;
}

.box-active {
    width: 20%;
    height: 110px;
    background-color: #FFEEEE;
    border: 1px solid #FE5250;
    margin: 10px;
    padding: 5px 13px;
    border-radius: 5px;
}

.box-active h6 {
    font-size: 35px;
    color: #FE5250;
    margin: 0;
    padding-top: 32px;
    text-align: center;

}

.donate-form {
    text-align: center;
}

.donate-form form input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-size: 16px;
    color: #fbfbfb;
}

.no-outline:focus {
    outline: none;
}

.submit-button {
    border-top: 1px solid #DADADA;
    margin-top: 20px;
    padding-top: 10px;
}

.btn-orange {
    text-decoration: none;
    background-color: #FE5250;
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.donate-plan {
    padding: 0 180px;
}

.plan {
    width: 33.3%;
    background-color: #EDF5F6;
    padding: 50px 20px;
    border-radius: 5px;
    margin: 0 10px;
}

.bg-blue {
    background-color: #EDF5F6;
}

.bg-red {
    background-color: #FFEEEE;
}

.bg-green {
    background-color: #FDF6D5;
}

.text-center {
    text-align: center;
}

.footer {
    padding-top: 30px;
    width: 100%;
    background-color: black;
    padding-bottom: 40px;
}

.footer h2 {
    font-size: 30px;
    color: orangered;
}

.text-ash {
    color: grey;
}